body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
  height: auto;
}

nav ul {
  color: #D3D3D3;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  color: #D3D3D3;
  display: inline;
  padding: 0 20px 0 20px;
}

nav ul li a {
  color: #D3D3D3; /* Replace with your desired color, light gray in this case */
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-register form {
  margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
}

button[type=submit] {
  background-color: #333;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
