<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anestesio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/styles.css">
  {% block head_links %}
  {% endblock %}
</head>
<body>
  <header onclick="window.location.href='/'">
    <div class="header-content">
      <h1>Grupo de Anestesia Mackenzie</h1>
      <img src="/static/logo.png" alt="Mackenzie Doctors Logo" id="logo">
    </div>
    {% block header_logout %}
      <form action="/logout" method="post" style="float: right;">
        <button type="submit">Sign Out</button>
      </form>
    {% endblock %}
  </header>
    {% block outsideContent %}
    {% endblock %}
  <main id="main-container">
    {% block mainContent %}
    {% endblock %}
  </main>
</body>
</html>
