{% extends 'base.html' %}

{% block head_links %}
    <link rel="stylesheet" href="/static/css/calendar.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function handleDayClick(event) {
                const clickedDay = event.target;
                // Check if clicked element is a day (a TD element with a number)
                if (clickedDay.tagName === "TD" && !isNaN(clickedDay.innerText) && clickedDay.innerText !== '') {
                    clickedDay.classList.add('day-clicked');

                    fetch(`/calendar_day/${clickedDay.innerText}`)
                        .then(response => response.json())
                        .then(data => {
                            let output = '<ul>';

                            let dayDict = data.data;

                            for (let key in dayDict) {
                                if (dayDict.hasOwnProperty(key)) {
                                    output += `<li>${key}: ${dayDict[key]}</li>`;
                                }
                            }
                            output += '</ul>';  // Close the unordered list

                            document.getElementById('dictData').innerHTML = output;
                        })
                }
            }

            // Add the click event listener to the table
            const calendarTable = document.querySelector('.calendar');
            calendarTable.addEventListener('click', handleDayClick);
        });
    </script>
{% endblock %}


{% block mainContent %}
    <table class="calendar">
        <tr class="calendar-header">
            <th colspan="7">{{ month.month_name }} {{month.year }}</th>
        </tr>
        <tr>
            <td>Sab</td>
            <td>Dom</td>
            <td>Seg</td>
            <td>Ter</td>
            <td>Qua</td>
            <td>Qui</td>
            <td>Sex</td>
        </tr>
        {% for week in month.calendar_days %}
            <tr>
                {% for day in week %}
                    <td>{{ day }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div id="dictData"></div>
{% endblock %}