{% extends 'base.html' %}

{% block head_links %}
  <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block header_logout %}
{% endblock %}

{% block mainContent %}
  <section class="login-register">
    <form id="login" method="POST">
      <h2>Login</h2>
      <input type="text" name="crm" id="crm" placeholder="CRM" required>
      <input type="password" name="password" id="password" placeholder="Senha" required>
      <button type="submit">Login</button>
    </form>
    <a href="/signup">Inscreva-se</a>
  </section>
{% endblock %}
