<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anestesio</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header onclick="window.location.href='/'">
    <div class="header-content">
      <h1>Grupo de Anestesia Mackenzie</h1>
      <img src="/static/logo.png" alt="Mackenzie Doctors Logo" id="logo">
    </div>
  </header>
  <main id="main-container">

      <iframe class="iframe-container"
        width="800"
        height="450"
        src="https://rumble.com/embed/v29c3lw/?pub=2u0m0q"
        frameborder="0"
        allowfullscreen
      ></iframe>

  </main>
</body>
</html>
