<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anestesio</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>Grupo de Anestesia Mackenzie</h1>
      <img src="/static/logo.png" alt="Mackenzie Doctors Logo" id="logo">
    </div>
  </header>
  <main id="main-container">
    <form id="signup">
      <h2>Sign Up</h2>
      <input type="text" name="name" placeholder="Nome" required>
      <input type="text" name="lastName" placeholder="Sobrenome" required>
      <input type="text" name="phoneNum" placeholder="Telefone" required pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
      <input type="email" name="email" placeholder="Email" required>
      <input type="text" name="crm" placeholder="CRM" required>
      <input type="text" name="rqm" placeholder="RQM" required>
      <input type="password" name="password" placeholder="Senha" required>
      <input type="password" placeholder="Confirme a Senha" required>
      <div class="button-container">
        <button type="submit">Sign Up</button>
        <button type="button" onclick="location.href='/';">Cancelar</button>
      </div>
    </form>
  </main>
</body>
</html>
