{% extends 'base.html' %}

{% block header_logout %}
{% endblock %}

{% block mainContent %}
  <form id="signup" method="POST">
    <h2>Sign Up</h2>
    <input type="text" name="name" id="name" placeholder="Nome Completo" required>
    <input type="text" name="phoneNum" id="phoneNum" placeholder="Celular" required>
    <input type="email" name="email" id="email" placeholder="Email" required>
    <input type="text" name="crm" id="crm" placeholder="CRM" required>
    <input type="text" name="rqe" id="rqe" placeholder="RQE" required>
    <input type="password" name="password" id="password" placeholder="Senha" required>
    <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirme a Senha" required>
    <div class="button-container">
      <button type="submit">Sign Up</button>
      <button type="button" onclick="location.href='/';">Cancelar</button>
    </div>
  </form>
  <script src="/static/scripts/phone_formatting.js"></script>
  <script src="/static/scripts/password_check.js"></script>
{% endblock %}
