{% extends 'base.html' %}

{% block head_links %}
  <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css">
{% endblock %}

{% block outsideContent %}
  <div id="example">
      <script>
        // Your data
        const data = {{ data|safe }};

        // Initialization
        const container = document.getElementById('example');
        const hot = new Handsontable(container, {
            data: data,
            rowHeights: 20, // Or an array to specify each row
            customBorders: true,
            height: 'auto',
            licenseKey: 'non-commercial-and-evaluation',
            colWidths(index) {
                switch (index) {
                  case 0:
                    return 250;
                  default:
                    return 40;
                }
            }
         });
      </script>
  </div>
{% endblock %}
